

<div>
    <a class="loi-button" href="{% url 'bidinterpreter:deal-add' %}">
        <i class="fas fa-plus"></i>
        New Deal
    </a>
</div>
<nav class="loi-sidebar__nav d-flex flex-column justify-content mt-4 mb-4">
    <a href="">
        <span class="material-icons">assignment</span>
        All Deals
    </a>
    <a href="">
        <span class="material-icons">account_box</span>
        My Deals
    </a>
    <a href="">
        <span class="material-icons">people_alt</span>
        Shared Deals
    </a>
    <a href="">
        <span class="material-icons">history</span>
        Recently Deleted
    </a>
</nav>