{% extends 'global/base.html' %}
{% load static %}

{% block headcode %}
{% endblock headcode %}


{% block content %}
    <div class="loi-app">
        <div class="loi-sidebar">
            {% block sidebar %}
                {% include "includes/deals_sidebar.html" %}
            {% endblock %}
        </div>

        <div class="loi-main">
            {% block app_content %}

            {% endblock %}
        </div>
    </div>


    <!-- include FilePond library and plugins -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
          rel="stylesheet">

    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

    <!-- Configure and initialise Filepond -->

    <script>
        // Register the plugin
        FilePond.registerPlugin(FilePondPluginImageExifOrientation, FilePondPluginImagePreview);

        $(function () {
            //delete confirm
            $('.delete-button').click(function () {
                console.log('button clicked', $(this));
                var dealid = $(this).data('dealid');
                console.log(dealid);
                $('#exampleModal').data('target-form', dealid);
                console.log('modal dealid', $('#exampleModal').data('target-form'));
                //$('#'+dealid).submit();
                $('#exampleModal').modal('show');
                var dealname = $(this).data('dealname');
                $('#confirmationtext').html("Delete " + dealname + "?");
                return false;
            })

            $('#delete-confirm').click(function () {
                var dealid = $('#exampleModal').data('target-form');
                $('#' + dealid).submit();
            })


            //filepond
            $('.pond').filepond();
            $('.pond').filepond('allowMultiple', true);
            $('.pond').filepond.setOptions({
                instantUpload: false,
                labelIdle: 'Drag & drop bids or <span class="filepond--label-action">browse</span>  (pdf only)',
                server: {
                    url: '/bidinterpreter/upload/',
                    process: {
                        method: 'POST',
                        withCredentials: false,
                        headers: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        onload: null,
                        onerror: null,
                        ondata: (formData) => {
                            formData.append("Hello", "Brett");
                            return formData;
                        },
                    },
                    fetch: null,
                    revert: null,
                },
                onprocessfile: function (error, file) {
                    if (error === null) $('.pond').filepond('removeFile', file);
                },
            });
        });
    </script>
{% endblock %}
