{% extends 'global/base.html' %}
{% load static %}
{% block headcode %}

<script language="JavaScript">

</script>
{% endblock %}

{% block content %}
<style>

#dropzone2{
    padding: 24px;
    border-style: dashed;
    font-size: 36pt;
    width: 50%;
}
</style>
<div id="uploads"></div>
<div class="dropzone" id = "dropzone">
Drag your text in here.
</div>

<script>
    (function() {
        var dropzone = document.getElementById('dropzone');

        var upload = function(files){
            var formData = new FormData(),
            xhr = new XMLHttpRequest(),
            x;

        for(x=0; x < files.length; x = x + 1) {
            formData.append('file[]', files[x]);
        }
        xhr.onload = function(){
            var data = this.responseText;
        }

        xhr.open('post', 'upload.php');
        xhr.send(formData);
        }

        dropzone.ondrop = function(e){
            e.preventDefault();
            this.className = 'dropzone';
            upload(e.dataTransfer.files);
        }

        dropzone.ondragover = function(){
            this.className = 'dropzone dragover';
            return false;
        };
        dropzone.ondragleave = function() {
            this.className = 'dropzone';
            return false;
        };
    }());

</script>

    <ul>
        {%for d in all_deals%}
        <li><a href="/bidinterpreter/{{d.pk}}">{{d.deal_name}}</a></li>
        <li><a href="{% url 'bidinterpreter:index'%}{{d.pk}}">{{d.deal_name}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
