{% extends 'global/base.html' %}
{% load static %}


{% block bg_design %}
    <div class="bg-gradient">
        <img class="bg-gradient-image bg-gradient-image__1" src="{% static 'img/loihub-gradient.png' %}" alt="">
        <img class="bg-gradient-image bg-gradient-image__2" src="{% static 'img/loihub-gradient.png' %}" alt="">
    </div>


{% endblock %}

{% block header %}
    <header class="header header__accounts">
        <img class="image logo" src="{% static 'img/loihub-logo-blkpurp.png' %}" alt="">
    </header>

{% endblock %}

{#    {% if messages %}#}
{#    <div>#}
{#      <strong>Messages:</strong>#}
{#      <ul>#}
{#        {% for message in messages %}#}
{#        <li>{{message}}</li>#}
{#        {% endfor %}#}
{#      </ul>#}
{#    </div>#}
{#    {% endif %}#}
{##}
{#    <div>#}
{#      <strong>Menu:</strong>#}
{#      <ul>#}
{#        {% if user.is_authenticated %}#}
{#        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>#}
{#        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>#}
{#        {% else %}#}
{#        <li><a href="{% url 'account_login' %}">Sign In</a></li>#}
{#        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>#}
{#        {% endif %}#}
{#      </ul>#}
{#    </div>#}
{#    {% block content %}#}
{#    {% endblock %}#}
{#    {% endblock %}#}
{#    {% block extra_body %}#}
{#    {% endblock %}#}

