:root {
  --primary-darknavy: #192B38;
  --primary-lightpurple: #615CFF;
  --primary-blue: #34A6FE;
  --primary-darkpurple: #353596;
  --table-hover: #f3f6f9;
  --secondary-orange: #E0911A;
  --secondary-red: #CD1C1C;
  --secondary-green: #33844A;

  --black-100: #0E1012;
  --black-75: #3E4041;
  --black-50: #6E7071;
  --black-25: #B7B7B8;
  --black-10: #e7e7e7;

  --white: #fff;
  --off-white: #F2F6FA;

}